/**
 * Owl Carousel dots style start
**/

.owl-dots {
	text-align                 : center;
	-webkit-tap-highlight-color: transparent
}

.owl-dots {
	margin-top: 15px
}

.owl-dots .owl-dot {
	display: inline-block;
	zoom   : 2
}

.owl-dots .owl-dot span {
	width        : 15px;
	height       : 15px;
	margin       : 7px 9px;
	background   : rgba(255, 218, 228, 1);
	display      : block;
	transition   : opacity .2s ease;
	border-radius: 35px
}

.owl-dots .owl-dot.active span,
.owl-dots .owl-dot:hover span {
	background: #d97b94;
}

/**
 * Owl Carousel dots style end
**/

/**
 * Owl Carousel button style start
**/

.owl-button-wrapper {
	position: relative;
}

.js-prev,
.js-next {
	position  : absolute;
	background: none;
	color     : black;
	top       : 50%;
	opacity   : 0.6;
	transition: opacity .2s ease-in-out;
}

.js-prev:hover,
.js-next:hover {
	opacity: 1;
}

.js-prev {
	left: 1px;
}

.js-next {
	right: 1px;
}



/**
 * Owl Carousel button style end
**/